# Credenciales de la Base de Datos
DB_USER=admin
DB_PASSWORD=
DB_NAME=orquestador_db
DB_HOST=localhost
DB_PORT=5432

# Configuracion de n8n
N8N_ENCRYPTION_KEY=generar_una_clave_larga
N8N_USER_EMAIL=
N8N_USER_PASSWORD=

#Configuracion Orthanc
ORTHANC_USER=admin
ORTHANC_PASS=